﻿#logoImg {
                min-width: 100px;
            }
            
             .bubble
             {
                 position: relative;
                 padding: 0px;
                 background: #FFFFFF;
                 -webkit-border-radius: 10px;
                 -moz-border-radius: 10px;
                 border-radius: 10px;
                 border: #7F7F7F solid 3px;

             }

            .bubble:after
            {
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 5px 21px 5px 0;
                border-color: transparent #FFFFFF;
                display: block;
                width: 0;
                z-index: 1;
                left: -21px;
                top: 12px;
            }

            .bubble:before
            {
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 7px 23px 7px 0;
                border-color: transparent #7F7F7F;
                display: block;
                width: 0;
                z-index: 0;
                left: -26px;
                top: 10px;
            }

            #infoTable {
                overflow: hidden;
        color: #424242;
        font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
    
        
            }