﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

footer {
    background: #FF9548;
    text-align: center;
    
    -moz-border-top-left-radius: 10px; 
    -webkit-border-top-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-top-right-radius: 10px; 
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.logowanieStudentKwadrat {
    float: right;
    background: #FF9548;
}

.logowanieAdminKwadrat {
    float: left;
    background: #F9D54F;
}

.kwadrat{
    width: 170px;
    height: 170px;
    margin-top: 20px;
    color: #fff;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}
    .kwadrat > a {
        width: 170px;
        height: 170px;
        display:table-cell;
        vertical-align:middle;
        text-align: center;
        -moz-border-radius: 15px; 
        -webkit-border-radius: 15px;
        -khtml-border-radius: 15px;
        border-radius: 15px;

        color: #fff;
        text-decoration: none;
        font-size: 2.5em;
    }
    .kwadrat > a:hover {
        background: white;
        opacity: 0.4;
        color: #000;
    }

@media (max-width: 992px) {
    .kwadrat {
        width: 120px;
        height: 120px;
    }
    .kwadrat > a {
        font-size: 1.7em;
        height: 120px;
    }
}

@media (max-width: 768px) {
    .kwadrat {
        width: 100px;
        height: 100px;
    }
    .kwadrat > a {
        font-size: 1.4em;
        height: 100px;
    }
}
@media (max-width: 420px) {
    .kwadrat {
        width: 70px;
        height: 70px;
    }
    .kwadrat > a {
        font-size: 1em;
        height: 70px;
    }
    .kwadrat > a {
        height: 70px;
        font-size: 1em;
    }
}

.dodajKolejneR, .dodajKolejneW {
    margin: 10px 0;
}
.formularzLogowaniaAdmina {
    text-align: center;
}

.editor-label {
    margin: 10px 0px 5px 0px;
}

.pasekAdminaCzesc1 {
    line-height: 30px;
    text-align: center;
    float: left;
    width: 290px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    background: #A1CFFB;
    -moz-border-top-left-radius: 10px; 
    -webkit-border-top-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pasekAdminaCzesc2 {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 30px;
    float: left;
    width: 110px;
    color: #fff;
    text-decoration: none;
    background: #6EB3F5;
    -moz-border-top-right-radius: 10px; 
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .pasekAdminaCzesc2 > a {
        color: #fff;
        text-decoration: none;
        line-height: 30px;
        display: block;
    }
    .pasekAdminaCzesc2 > a:hover {
        background: white;
        opacity: 0.4;
        color: #000;
    }
.kontenerGlownegoPaska {
    width: 400px;
    text-align: center;
    line-height: 30px;
    margin: 0 auto;
}
.wynikiKwadrat {
    background: #00bfff;
    float: right;
}
.nowyTestKwadrat {
    background: #ff8c00;
}
.edytujTestKwadrat {
    background: #ee82ee;
    float: right;
}
.edytujPytanieKwadrat {
    background: #ff6347;
    float: left;
}

.prawaKwadrat {
    background: #FFC048;
    margin: auto;
    margin-top: 20px;
}

.dodajNowePrawoKwadrat {
    float: right;
    background: #FFC048;
}
.zarzadzajPrawemKwadrat {
    background: #F9D54F;
}
.dodajNowyTestKwadrat {
    float: right;
    background: #ff9548;  
}
.zarzadzajTestamiKwadrat {
    background: #ff8c00;
}
.headerWidoku {
    background:  #F9D54F;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 15px;
    vertical-align: middle;
    padding: 1px 0;
    
    -moz-border-top-left-radius: 10px; 
    -webkit-border-top-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-top-right-radius: 10px; 
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.headerWidoku h2 {
    padding: 0px;
}
.bodyWidoku {
    text-align: center;
}

                    input, select, textarea {
                    width: 275px;
                    border: 1px solid #B9BDC1;
                    color: #797979;
                    -moz-box-shadow: 0 2px 4px #a1cffb inset;
                    -webkit-box-shadow: 0 2px 4px #a1cffb inset;
                    box-shadow: 0 2px 4px #a1cffb inset;
                    -moz-border-radius: 3px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                    }
                    input[type="radio"],input[type="checkbox"] {
                        width: 30px;
                        background: none;
                    }

                    input:focus, textarea:focus {
                        background-color: #a1cffb;
                        outline: 0;
                    }
                    .CSSTableGenerator {
                        margin:0px;padding:0px;
                        width:100%;	box-shadow: 10px 10px 5px #888888;
                        border:1px solid #000000;

                        -moz-border-radius-bottomleft:14px;
                        -webkit-border-bottom-left-radius:14px;
                        border-bottom-left-radius:14px;

                        -moz-border-radius-bottomright:14px;
                        -webkit-border-bottom-right-radius:14px;
                        border-bottom-right-radius:14px;

                        -moz-border-radius-topright:14px;
                        -webkit-border-top-right-radius:14px;
                        border-top-right-radius:14px;

                        -moz-border-radius-topleft:14px;
                        -webkit-border-top-left-radius:14px;
                        border-top-left-radius:14px;
                        }.CSSTableGenerator table{
                        width:100%;
                        height:100%;
                        margin:0px;padding:0px;
                        }.CSSTableGenerator tr:last-child td:last-child {
                        -moz-border-radius-bottomright:14px;
                        -webkit-border-bottom-right-radius:14px;
                        border-bottom-right-radius:14px;
                        }
                        .CSSTableGenerator table tr:first-child td:first-child {
                        -moz-border-radius-topleft:14px;
                        -webkit-border-top-left-radius:14px;
                        border-top-left-radius:14px;
                        }
                        .CSSTableGenerator table tr:first-child td:last-child {
                        -moz-border-radius-topright:14px;
                        -webkit-border-top-right-radius:14px;
                        border-top-right-radius:14px;
                        }.CSSTableGenerator tr:last-child td:first-child{
                        -moz-border-radius-bottomleft:14px;
                        -webkit-border-bottom-left-radius:14px;
                        border-bottom-left-radius:14px;
                        }.CSSTableGenerator tr:hover td{
                        background-color:#ffffff;
                        }
                        .CSSTableGenerator td{
                        vertical-align:middle;

                        background-color:#e5e5e5;
                        border:1px solid #000000;
                        border-width:0px 1px 1px 0px;
                        text-align:left;
                        padding:7px;
                        font-size:10px;
                        font-family:Arial;
                        font-weight:normal;
                        color:#000000;
                        }.CSSTableGenerator tr:last-child td{
                        border-width:0px 1px 0px 0px;
                        }.CSSTableGenerator tr td:last-child{
                        border-width:0px 0px 1px 0px;
                        }.CSSTableGenerator tr:last-child td:last-child{
                        border-width:0px 0px 0px 0px;
                        }
                        .CSSTableGenerator tr:first-child td{
	                        background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);
                        background-color:#cccccc;
                        border:0px solid #000000;
                        text-align:center;
                        border-width:0px 0px 1px 1px;
                        font-size:14px;
                        font-family:Arial;
                        font-weight:bold;
                        color:#000000;
                        }
                        .CSSTableGenerator tr:first-child:hover td{
	                        background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);
                        background-color:#cccccc;
                        }
                        .CSSTableGenerator tr:first-child td:first-child{
                        border-width:0px 0px 1px 0px;
                        }
                        .CSSTableGenerator tr:first-child td:last-child{
                        border-width:0px 0px 1px 1px;
                        }
