﻿#remainingTime {
    background-color: #A7BFFF; 
       text-align: center;
       -moz-border-top-left-radius: 10px; 
    -webkit-border-top-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-top-right-radius: 10px; 
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;

    visibility: hidden;
}

#buttonsForTest button{
    margin: 5px;
   padding:5px
}

#buttonsForTest div{
    text-align: center;
}
#question{
    text-align: center;
    background-color:#fffaf0
}

#answersDiv {
    display: inline-block;
text-align: left;
}

.infoArea {
    background-color: #A7BFFF;
     -moz-border-top-left-radius: 10px; 
    -webkit-border-top-left-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-top-right-radius: 10px; 
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wrapper {
  position: relative;
  margin: 40px auto;
  background: white;
}

.wrapper, .wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 150px;
  height: 150px;
}

.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: #08C;
  border: 5px solid rgba(0,0,0,0.5);
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
}

.wrapper:hover .spinner,
.wrapper:hover .filler,
.wrapper:hover .mask {
  animation-play-state: running;
}

.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  border-left: none;
}

.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}


#openAnswer {
    height: 30px
}

.startButton {
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 170px;
    margin-top: 20px;
    color: #fff;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    background: #FF9548;
}
    .startButton > a {
        width: 170px;
        height: 170px;
        display:table-cell;
        vertical-align:middle;
        text-align: center;
        -moz-border-radius: 15px; 
        -webkit-border-radius: 15px;
        -khtml-border-radius: 15px;
        border-radius: 15px;

        color: #fff;
        text-decoration: none;
        font-size: 2.5em;
    }
    .startButton > a:hover {
        background: white;
        opacity: 0.4;
        color: #000;
    }
