﻿@model testy.Models.DodajPytanieModel

@{
    ViewBag.Title = "Dodaj pytanie";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Dodaj pytanie</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") -
                @Html.ActionLink("Wyżej", "ZarzadzajPytaniami", "Pytania")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 formularzLogowaniaAdmina bodyWidoku">
            @using (Html.BeginForm("DodajNowe", "Pytania", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="editor-label">
                    Treść pytania
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PYT_tresc)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.PYT_tresc)
                </div>

                <div class="editor-label">
                    Podaj liczbe punktów
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PYT_iloscPunktow)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.PYT_iloscPunktow)
                </div>

                <div class="editor-label">
                    Wybierz typ pytania
                </div>
                <div class="editor-label">
                    @Html.DropDownListFor(model => model.PYT_typ,
                        new SelectList(new string[] { "Jednokrotnego wyboru", "Wielokrotnego wyboru", "Otwarte" }))
                </div>

                <div class="editor-label">
                    Podaj możliwe odpowiedzi
                </div>
                <div id="odpowiedzi">
                    <div class="editor-label">Odpowiedź nr 1</div>
                    <div class="editor-label">
                        <input id="odpowiedz1" name="odpowiedz" type="text" value="" />
                        <input id="zaznaczone1" type="radio" value="1" name="zaznaczone" title="Czy poprawna?" />
                    </div>

                    <div class="editor-label">Odpowiedź nr 2</div>
                    <div class="editor-label">
                        <input id="odpowiedz2" name="odpowiedz" type="text" value="" />
                        <input id="zaznaczone2" type="radio" value="2" name="zaznaczone" title="Czy poprawna?" />
                    </div>
                </div>

                <input type="submit" value="Dodaj pytanie" name="submit" />
                <input type="submit" value="Dodaj pytanie i zakończ" name="submit" />
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var i = 3;
    $("#PYT_typ").change(function () {
        i = 3;
        var zaznaczone = $("#PYT_typ option:selected").text();
        if (zaznaczone == "Jednokrotnego wyboru") jedno();
        else if (zaznaczone == "Wielokrotnego wyboru") wielo();
        else if (zaznaczone == "Otwarte") otwarte();
    }).change();

    function jedno() {
        $('div#odpowiedzi').replaceWith('<div id="odpowiedzi">' +
            '<div class="editor-label">Odpowiedź nr 1</div>' +
            '<div class="editor-label">' +
            '<input id="odpowiedz1" name="odpowiedz" type="text" value="" /> ' +
            '<input id="zaznaczone1" type="radio" value="1" name="zaznaczone" title="Czy poprawna?" />' +
            '</div>' +
            '<div class="editor-label">Odpowiedź nr 2</div>' +
            '<div class="editor-label">' +
            '<input id="odpowiedz2" name="odpowiedz" type="text" value="" /> ' +
            '<input id="zaznaczone2" type="radio" value="2" name="zaznaczone" title="Czy poprawna?" />' +
            '</div>' +
            '<div class="dodajKolejneR">Dodaj kolejne pole</div>' +
            '</div>');

        $('.dodajKolejneR').click(function () {
            $('div.dodajKolejneR').before('<div class="editor-label">Odpowiedź nr ' + i + '</div>' +
                '<div class="editor-label">' +
                '<input id="odpowiedz' + i + '" name="odpowiedz" type="text" value="" /> ' +
                '<input id="zaznaczone' + i + '" type="radio" value="' + i + '" name="zaznaczone" title="Czy poprawna?" />' +
                '</div>');
            i++;
        });
    }

    function wielo() {
        $('div#odpowiedzi').replaceWith('<div id="odpowiedzi">' +
            '<div class="editor-label">Odpowiedź nr 1</div>' +
            '<div class="editor-label">' +
            '<input id="odpowiedz1" name="odpowiedz" type="text" value="" /> ' +
            '<input id="zaznaczone1" type="checkbox" value="1" name="zaznaczone" title="Czy poprawna?" />' +
            '</div>' +
            '<div class="editor-label">Odpowiedź nr 2</div>' +
            '<div class="editor-label">' +
            '<input id="odpowiedz2" name="odpowiedz" type="text" value="" /> ' +
            '<input id="zaznaczone2" type="checkbox" value="2" name="zaznaczone" title="Czy poprawna?" />' +
            '</div>' +
            '<div class="dodajKolejneW">Dodaj kolejne pole</div>' +
            '</div>');

        $('.dodajKolejneW').click(function () {
            $('.dodajKolejneW').before('<div class="editor-label">Odpowiedź nr ' + i + '</div>' +
                '<div class="editor-label">' +
                '<input id="odpowiedz' + i + '" name="odpowiedz" type="text" value="" /> ' +
                '<input id="zaznaczone' + i + '" type="checkbox" value="' + i + '" name="zaznaczone" title="Czy poprawna?" />' +
                '</div>');
            i++;
        });
    }

    function otwarte() {
        $('div#odpowiedzi').replaceWith('<div id="odpowiedzi">' +
            '<div class="editor-label">Oddziel możliwości przecinkiem</div>' +
            '<div class="editor-label">' +
            '<input id="odpowiedzOtwarta" name="odpowiedz" type="text" value="" /> ' +
            '</div>');
    }


</script>