﻿@model testy.Models.DodajPytanieModel
@{
    ViewBag.Title = "Edytuj pytanie";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Edytuj pytanie</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") -
                @Html.ActionLink("Wyżej", "Zarzadzaj", "Pytania")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 formularzLogowaniaAdmina bodyWidoku">
            @using (Html.BeginForm("Edytuj", "Pytania", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="editor-label">
                    Treść pytania
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PYT_tresc)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.PYT_tresc)
                </div>

                <div class="editor-label">
                    Podaj liczbe punktów
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PYT_iloscPunktow)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.PYT_iloscPunktow)
                </div>

                <div class="editor-label">
                    Typ pytania
                </div>
                <div class="editor-label">
                    @Html.TextBoxFor(model => model.PYT_typ, new { @readonly = "readonly" })
                </div>

                <div class="editor-label">
                    Podaj możliwe odpowiedzi
                </div>
                <div id="odpowiedzi">
                    @{ViewBag.i = 1;}
                    @using(var e1 = Model.odpowiedzId.GetEnumerator())
                    {using (var e2 = Model.odpowiedz.GetEnumerator())
                    {using (var e3 = Model.zaznaczone.GetEnumerator())
                    {
                        while (e1.MoveNext() && e2.MoveNext() && e3.MoveNext())
                        {
                            var czyZaznaczono = "";
                            var id = e1.Current;
                            var odpowiedz = e2.Current;
                            if (e3.Current == "true")
                            {czyZaznaczono = "checked";}
                            else
                            {czyZaznaczono = "";}
                            
                            <div class="editor-label">Odpowiedź nr @ViewBag.i</div>
                            <div class="editor-label">
                                <input type="hidden" name="odpowiedzId" value="@id" />    
                                @if (Model.PYT_typ == "Otwarte")
                                {
                                    <input type="text" name="odpowiedzOtwarta" type="text" value="@Model.odpowiedzOtwarta" />
                                }
                                @if (Model.PYT_typ == "Jednokrotnego wyboru")
                                {
                                    <input type="text" name="odpowiedz" type="text" value="@odpowiedz" />
                                    <input type="radio" value="@ViewBag.i" name="zaznaczone" title="Czy poprawna?" @czyZaznaczono />
                                }
                                @if (Model.PYT_typ == "Wielokrotnego wyboru")
                                {
                                    <input type="text" name="odpowiedz" type="text" value="@odpowiedz" />
                                    <input type="checkbox" value="@ViewBag.i" name="zaznaczone" title="Czy poprawna?" @czyZaznaczono />
                                }
                            </div>
                            ViewBag.i = @ViewBag.i + 1;
                        }
                    }}}
                    @if (Model.PYT_typ == "Jednokrotnego wyboru")
                    {
                    <div class="dodajKolejneR">Dodaj kolejne pole</div>
                    }
                    @if (Model.PYT_typ == "Wielokrotnego wyboru")
                    {
                    <div class="dodajKolejneW">Dodaj kolejne pole</div>
                    }
                </div>

                <input type="hidden" name="PYT_IdPytania" value="@Model.PYT_IdPytania" />
                <input type="submit" value="Zapisz zmiany"/>
            }
        </div>
    </div>
</div>
@*
    '<div class="dodajKolejneR">Dodaj kolejne pole</div>*@
<script type="text/javascript">
    var i = @ViewBag.i
    $("#PYT_typ").change(function () {
        var zaznaczone = $("#PYT_typ option:selected").text();
        if (zaznaczone == "Jednokrotnego wyboru") jedno();
        else if (zaznaczone == "Wielokrotnego wyboru") wielo();
    }).change();


        $('.dodajKolejneR').click(function () {
            $('div.dodajKolejneR').before('<div class="editor-label">Odpowiedź nr ' + i + '</div>' +
                '<div class="editor-label">' +
                '<input id="odpowiedz' + i + '" name="odpowiedz" type="text" value="" /> ' +
                '<input id="zaznaczone' + i + '" type="radio" value="' + i + '" name="zaznaczone" title="Czy poprawna?" />' +
                '</div>');
            i++;
        });
        $('.dodajKolejneW').click(function () {
            $('.dodajKolejneW').before('<div class="editor-label">Odpowiedź nr ' + i + '</div>' +
                '<div class="editor-label">' +
                '<input id="odpowiedz' + i + '" name="odpowiedz" type="text" value="" /> ' +
                '<input id="zaznaczone' + i + '" type="checkbox" value="' + i + '" name="zaznaczone" title="Czy poprawna?" />' +
                '</div>');
            i++;
        });
</script>