﻿
@{
    ViewBag.Title = "Zarzadzaj pytaniami";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Zarządzaj testami</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") 
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="kwadrat dodajNowyTestKwadrat">
                @Html.ActionLink("Dodaj nowe", "DodajNowe", "Pytania")
            </div>
        </div>
        <div class="col-xs-6">
            <div class="kwadrat zarzadzajTestamiKwadrat">
                @Html.ActionLink("Zarządzaj", "Zarzadzaj", "Pytania")
            </div>
        </div>
    </div>
</div>