﻿@model IEnumerable<testy.Models.DodajPytanieModel>
@{
    ViewBag.Title = "Zarządzaj";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Zarządzaj</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") -
                @Html.ActionLink("Wyżej", "ZarzadzajPytaniami", "Pytania")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="CSSTableGenerator" style="margin: 0 auto;">
                <tr>
                    <td></td>
                    <td>Treść</td>
                    <td>Ilość punktów</td>
                    <td>Typ</td>
                    <td>Edytuj</td>
                    <td>Usuń</td>
                </tr>
                @{ var i = 0; }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.PYT_tresc</td>
                        <td>@item.PYT_iloscPunktow</td>
                        <td>@item.PYT_typ</td>
                        <td>@Html.ActionLink("Edytuj", "Edytuj", new { id = @item.PYT_IdPytania })</td>
                        <td>@Html.ActionLink("Usun", "Usun", new { id = @item.PYT_IdPytania })</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>