﻿@{
    ViewBag.Title = "Index";
}


    <div class="container">
    <div class="row">
        <div class="col-xs-4">
            <div class="kwadrat wynikiKwadrat">
                @Html.ActionLink("Zarządzaj wynikami", "ZarzadzajWynikami", "Wyniki")
            </div>
        </div>
        <div class="col-xs-4">
            <div class="kwadrat prawaKwadrat">
                @Html.ActionLink("Zarządzaj prawami", "ZarzadzajPrawami", "Prawa")
            </div>
        </div>
        <div class="col-xs-4">
            <div class="kwadrat nowyTestKwadrat">
                @Html.ActionLink("Zarządzaj testami", "ZarzadzajTestami", "Testy")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="kwadrat edytujTestKwadrat">
                @Html.ActionLink("Nowy test", "DodajNowy", "Testy")
            </div>
        </div>
        <div class="col-xs-6">
            <div class="kwadrat edytujPytanieKwadrat">
                @Html.ActionLink("Zarządzaj pytaniami", "ZarzadzajPytaniami", "Pytania")
            </div>
        </div>
    </div>
</div>
