﻿@model testy.Models.wlascicielTestu

@{
    ViewBag.Title = "Logowanie";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Logowanie</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 formularzLogowaniaAdmina bodyWidoku">
            @using (Html.BeginForm("Logowanie", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="editor-label">
                    Login
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.WLA_login)
                    @Html.ValidationMessageFor(model => model.WLA_login)
                </div>

                <div class="editor-label">
                    Hasło
                </div>
                <div class="editor-label">
                    @Html.PasswordFor(model => model.WLA_haslo)
                    @Html.ValidationMessageFor(model => model.WLA_haslo)
                </div>

                <input type="submit" value="Zaloguj" />
            }
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}