﻿@model testy.Models.test

@{
    ViewBag.Title = "NowyTest";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 formularzLogowaniaAdmina">
            @using (Html.BeginForm("NowyTest", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="editor-label">
                    Nazwa testu
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.TES_nazwa)
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.TES_nazwa)
                </div>

                <div class="editor-label">
                    Hasło do testu
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.TES_haslo)
                </div>
                <div class="editor-label">
                    @Html.PasswordFor(model => model.TES_haslo)
                </div>

                <div class="editor-label">
                    Podaj czas trwania w minutach
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.TES_czasTrwaniaSek)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.TES_czasTrwaniaSek)
                </div>

                @*@<div class="editor-label">
        Podaj ilość pytań
    </div>
    <div class="editor-label">
        @Html.ValidationMessageFor(model => model.TES_iloscPytan)
        @Html.EditorFor(model => model.TES_iloscPytan)
    </div>*@

                <input type="submit" value="Dodaj test" />
            }
        </div>
    </div>
</div>