﻿@using testy.Helpers

<h2>Nazwa testu: <strong>@Session["testName"]</strong>
<small>Rozwiązujesz test jako: <strong>@TestHelper.GetStudentNameSurnameByWynikId(decimal.Parse(Session["WYN_ID"].ToString()))</strong> - @Session["groupName"]</small></h2>
