﻿@using System
@model testy.Models.Student.DataToGenerateQuestion

<div id="detailsDiv">
    @{

        if (Session["a"] == null)
        {
            Session["a"] = 1;
        }
        else
        {
            int a = Int32.Parse(Session["a"].ToString());
            a++;
            Session["a"] = a;
        }

    }
    
    

    przeładowanie partial(debug): @Session["a"]<br />
    <p class="infoArea"> Numer pytania: <strong> @(decimal.Parse(Session["currentIndexOfQuestion"].ToString()) + 1)</strong></p>

    <h3>
        @Model.QuestionContent
    </h3>
        @if (Model.Odpowiedzi != null)
        {
            int indexOfCheckboxes = 0;

            <div id="answersDiv">
                @foreach (var variable in Model.Odpowiedzi)
                {
                indexOfCheckboxes++;
                if (Model.QuestionType == "Jednokrotnego wyboru")
                {

                <label>
                    <input type="radio" name="group1" value="true" id="check_@indexOfCheckboxes" />
                    @variable
                </label><br />
                }
                else if (Model.QuestionType == "Wielokrotnego wyboru")
                {
                    <input type="checkbox" value="true" id="check_@indexOfCheckboxes" />
                <label for="check_@indexOfCheckboxes">@variable</label><br />
                }
                    
                    
                else if (Model.QuestionType == "Otwarte")
                {
                    <input type="text" id="openAnswer" />

                }
                
                }
            </div>

            Session["maxIndexOfCheckboxes"] = indexOfCheckboxes;
            Session["currentQuestionType"] = Model.QuestionType;

        }
       
    
    
</div>
<script>


    function checkThatAnswerIsInDb(_wynikId, _pytanieId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckThatAnswerIsInDb", "StudentMain")',
            datatype: "json",
            traditional: true,
            data: {
                wynikId: _wynikId,
                pytanieId: _pytanieId
            }
        }).done(function (isAnswered) {
            if (isAnswered=="True") {
                $('#checkQuestionButton').attr("disabled", true);
                $('#answeredInfo_@Session["currentIndexOfQuestion"]').text("1");
            } else {
                $('#checkQuestionButton').attr("disabled", false);
            }
        });
    }

    $(document).ready(function () {
        checkThatAnswerIsInDb('@Session["WYN_ID"]', '@Session["PYT_ID"]');

        

        $("#checkQuestionButton").unbind("click").on("click", function () {
            var answers = [];

            if ('@Session["currentQuestionType"]' == "Wielokrotnego wyboru" || '@Session["currentQuestionType"]' == "Jednokrotnego wyboru") {
                for (var i = 0; i < @Session["maxIndexOfCheckboxes"]; i++) {

                    if ($("#check_" + (i + 1)).is(':checked')) {
                        answers[i] = "1";
                    } else {
                        answers[i] = "0";
                    }

                }
            } else if ('@Session["currentQuestionType"]' == "Otwarte") {
                
                answers[0] = $("#openAnswer").val();
            } else {
                answers[0] = "error";
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveAnswers", "StudentMain")',
                datatype: "json",
                traditional: true,
                beforeSend: function() {
                    $('#checkQuestionButton').attr("disabled", true);
                },
                data: {
                    answers: answers,
                    wynikId: '@Session["WYN_ID"]',
                    pytanieId: '@Session["PYT_ID"]'
                }
            });
            checkThatAnswerIsInDb('@Session["WYN_ID"]', '@Session["PYT_ID"]');
        });
    });
</script>

