﻿@using testy.Helpers
@model testy.Models.Student.DataToGenerateTest
@{
    ViewBag.Title = "StudentMain";
}
@Scripts.Render("~/Scripts/spin.min.js")

<div class="container" id="testView">
    <div class="row">
        <div class="col-xs-12">
            <div id="StudentInfo">
                @Html.Partial("~/Views/StudentMain/_InfoPartial.cshtml")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3">
            <div id="remainingTime"></div>
            <div class="wrapper visible-lg visible-md visible-sm">
                <div class="pie spinner"></div>
                <div class="pie filler"></div>
                <div class="mask"></div>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="question">
            </div>
            <div id="buttonsForTest">
                <div>
                    <button id="generatePreviousQuestionButton" class="btn btn-primary">poprzednie pytanie</button>
                    <button id="generateNextQuestionButton" class="btn btn-primary">następne pytanie</button>
                </div>
                <div>
                    <button id="checkQuestionButton" class="btn btn-success">zapisz odpowiedź</button>
                    @Html.ActionLink("Koniec testu", "Index", new { controller = "EndOfTest" }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <table id="infoTable" class="table table-hover">
                <thead>
                <tr>
                    <th>nr pytania</th>
                    <th>zatwierdzone @Model.CountOfQuestionsToGenerate</th>
                </tr>
                </thead>
                @for (int i = 0; i < Model.CountOfQuestionsToGenerate; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td id="answeredInfo_@i">0</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


<style>
    #infoTable td{
        border: 1px solid black;
    }
</style>

@* ReSharper disable WrongExpressionStatement *@
<script>

    function secondsTimeSpanToHMS(s) {
        var h = Math.floor(s / 3600); //Get whole hours
        s -= h * 3600;
        var m = Math.floor(s / 60); //Get remaining minutes
        s -= m * 60;
        return h + ":" + (m < 10 ? '0' + m : m) + ":" + (s < 10 ? '0' + s : s); //zero padding on minutes and seconds
    }

    function remainingTime() {
        $.ajax({
            url: '@Url.Action("CheckRemainingTime","StudentMain")',
            type: 'POST',
            complete: function () {
                setTimeout(remainingTime, 1000);
            }
        }).done(function (time) {
            $("#remainingTime").text(secondsTimeSpanToHMS(time));

            if (time < 0) {
                $("#testView").empty();
                $("#testView").text("proszę czekać, obliczanie wyniku...");
                window.location.href = '/EndOfTest/';
            }
        });
    }



    $(document).ready(function () {


        var opts = {
            lines: 15, // The number of lines to draw
            length: 20, // The length of each line
            width: 17, // The line thickness
            radius: 35, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 9, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 63, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: '50%', // Top position relative to parent
            left: '50%' // Left position relative to parent
        };
        var target = document.getElementById('question');
        var spinner = new Spinner(opts).spin(target);
        spinner.stop();

        remainingTime();
        

        $("#generateNextQuestionButton").on("click", function () {
            $.ajax({
                url: '@Url.Action("GenerateNextQuestion", "StudentMain")',
                type: "POST",
                beforeSend: function () {
                    spinner.spin(target);
                },
                complete: function () {
                    spinner.stop();
                    $("#remainingTime").css("visibility", "visible");
                    var timee = '@TestHelper.GetCurrentRemainingTime()';

                    $(".wrapper .spinner").css("animation", "rota " + timee + "s linear infinite");
                    $(".wrapper .filler").css("animation", "opa " + timee + "s steps(1, end) infinite reverse");
                    $(".wrapper .mask").css("animation", "opa " + timee + "s steps(1, end) infinite");

                }
            })
                .done(function (partialViewResult) {
                    $("#question").html(partialViewResult);

                });
        });


        $("#generatePreviousQuestionButton").on("click", function () {
            $.ajax({
                url: '@Url.Action("GeneratePreviousQuestion", "StudentMain")',
                type: "POST",
                beforeSend: function () {
                    spinner.spin(target);
                },
                complete: function () {
                    spinner.stop();
                }
            }).done(function (partialViewResult) {
                $("#question").html(partialViewResult);

            });
        });


        $('#generateNextQuestionButton').trigger('click');
        


    });


</script>
@* ReSharper restore WrongExpressionStatement *@
