﻿@{
    ViewBag.Title = "aIndex";
}

<h2 id="h2">Index</h2>

<div>
    <button id="chuj">chuj</button>
</div>



<script>
    $(document).ready(function() {

        $("#h2").text('@Session["aaaaaa"]');
        $("#chuj").on("click", function() {
            @{ Session["aaaaaa"] = "dup[a"; }

            $("#h2").text('@Session["aaaaaa"]');
        });

    });

</script>