﻿@model testy.Models.DodajPrawoModel
@{
    ViewBag.Title = "Dodaj nowe prawo";
}

@Scripts.Render("~/Scripts/anytime.5.0.5.min.js")
@Scripts.Render("~/Scripts/DateTimePickerHelper.js")
@Styles.Render("~/Content/css/anytime.5.0.5.min.css")

<script>
    $(document).ready(function () {
        setDateTimePicker('#czasRozpoczeciaButton', '#PDT_czasRozpoczecia');
        setDateTimePicker('#czasZakonczeniaButton', '#PDT_czasZakonczenia');
    });
</script>

<style>
    .ui-state-highlight, .ui-widget-content .ui-state-highlight {
        background: #dddddd;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Zezwól na wykonanie testu</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") -
                @Html.ActionLink("Wyżej", "ZarzadzajPrawami", "Prawa")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 formularzLogowaniaAdmina bodyWidoku">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                
                <div class="editor-label">
                    Podaj nazwę grupy
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PDT_nazwaGrupy)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.PDT_nazwaGrupy)
                </div>
                
                <div class="editor-label">
                    Podaj hasło do testu
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PDT_haslo)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.PDT_haslo)
                </div>

                <div class="editor-label">
                    Podaj ilość miejsc
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PDT_limitWypelnien)
                   
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.PDT_limitWypelnien)
                </div>

                <div class="editor-label">
                    Podaj czas w minutach na wykonanie testu
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PDT_czasNaWykonanieWMinutach)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.PDT_czasNaWykonanieWMinutach)
                </div>

                <div class="editor-label">
                    Podaj ilość pytań
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PDT_iloscPytan)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.PDT_iloscPytan)
                </div>

                <div class="editor-label">
                    Data rozpoczęcia testu
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PDT_czasRozpoczecia)
                    
                </div>
    
                <div class="editor-label">
                    @Html.EditorFor(model => model.PDT_czasRozpoczecia)
                    <button id="czasRozpoczeciaButton">
                        <img src="~/Content/calendar.png" />
                    </button>
                </div>

                <div class="editor-label">
                    Data zakończenia testu
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.PDT_czasZakonczenia)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.PDT_czasZakonczenia)
                    <button id="czasZakonczeniaButton">
                        <img src="~/Content/calendar.png" />
                    </button>
                </div>
                
                <div class="editor-label">
                    Wybierz test
                </div>
                <div class="editor-label">
                    @Html.DropDownListFor(model => model.PDT_WybranyTest, Model.PDT_Testy)
                </div>

                <input type="submit" value="Dodaj" />
            }
        </div>
    </div>
</div>

