﻿@model IEnumerable<testy.Models.PrawaDoTestu>
    @{
        ViewBag.Title = "Zarządzaj";
    }


    <div class="container">
        <div class="row">
            <div class="col-xs-12 headerWidoku">
                <h2>Zarządzaj</h2>
                <h4>
                    @Html.ActionLink("Home", "Index", "Admin") -
                    @Html.ActionLink("Wyżej", "ZarzadzajPrawami", "Prawa")
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="CSSTableGenerator" style="margin: 0 auto;">
                    <tr>
                        <td></td>
                        <td>Grupa</td>
                        <td>Nazwa Testu</td>
                        <td>Limit</td>
                        <td>Czas (min)</td>
                        <td>Obowiązywanie</td>
                        <td>Edytuj</td>
                        <td>Usuń</td>
                    </tr>
                    @{ var i = 0; }
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.PDT_nazwaGrupy</td>
                            <td>@item.PDT_test_ID_FK</td>
                            <td>@item.PDT_ileWypelniono/@item.PDT_limitWypelnien</td>
                            <td>@item.PDT_czasNaRozwizanie</td>
                            <td>@item.PDT_czasRozpoczecia - @item.PDT_czasZakonczenia</td>
                            <td>@Html.ActionLink("Edytuj", "Edytuj", new { id = @item.PDT_id })</td>
                            <td>@Html.ActionLink("Usun", "Usun", new { id = @item.PDT_id })</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
