﻿
@{
    ViewBag.Title = "Zarządzaj prawami";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Prawa dostępu</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") 
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="kwadrat dodajNowePrawoKwadrat">
                @Html.ActionLink("Dodaj nowe", "DodajNowe", "Prawa")
            </div>
        </div>
        <div class="col-xs-6">
            <div class="kwadrat zarzadzajPrawemKwadrat">
                @Html.ActionLink("Zarządzaj", "Zarzadzaj", "Prawa")
            </div>
        </div>
    </div>
    </div>