﻿@model testy.Models.PokazWynikiModel
@{
    ViewBag.Title = "Podaj grupę";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Podaj nazwę grupy</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") -
                @Html.ActionLink("Wyżej", "ZarzadzajWynikami", "Wyniki")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div style="margin: 0 auto; width: 60%">
                <div style="text-align:center">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="editor-label">
                            Nazwa grupy
                        </div>
                        <div class="editor-label">
                            @Html.ValidationMessageFor(model => model.NazwaGrupy)
                        </div>
                        <div class="editor-label">
                            @Html.EditorFor(model => model.NazwaGrupy)
                        </div>

                        <input type="submit" value="Pokaż testy" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
