﻿@model IEnumerable<testy.Models.Wyniki>
@{
    ViewBag.Title = "Wszystkie";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Wyniki</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") -
                @Html.ActionLink("Wyżej", "ZarzadzajWynikami", "Wyniki")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="CSSTableGenerator" style="margin: 0 auto;">
                <tr>
                    <td></td>
                    <td>Imię</td>
                    <td>Nazwisko</td>
                    <td>Grupa</td>
                    <td>Punkty</td>
                    <td>Zobacz odpowiedzi</td>
                </tr>
                @{ var i = 0; }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.WYN_imieStudenta</td>
                        <td>@item.WYN_nazwiskoStudenta</td>
                        <td>@item.WYN_grupaStudenta</td>
                        <td>@item.WYN_punkty</td>
                        <td>@Html.ActionLink("Odpowiedzi", "Odpowiedzi", new { id = @item.WYN_ID })</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
