﻿
@{
    ViewBag.Title = "Zarzadzaj wynikami";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Zarządzaj wynikami</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="kwadrat dodajNowyTestKwadrat">
                @Html.ActionLink("Wszystkie", "Wyniki", "Wyniki")
            </div>
        </div>
        <div class="col-xs-6">
            <div class="kwadrat zarzadzajTestamiKwadrat">
                @Html.ActionLink("Według grupy", "WedlugGrupy", "Wyniki")
            </div>
        </div>
    </div>
</div>