﻿@model testy.Models.Student.InsertStudentDataModel
@{
    ViewBag.Title = "Dane Studenta";
}

<script>
    $(document).ready(function() {
        addCommixBubbleHeader("Wpisz swoje imię i nazwisko.<br /><strong>Uwaga!</strong> po wysłaniu danych nie można się już wycofać!");
    });
</script>
<div class="container">

    <div class="col-xs-12 formularzLogowaniaStudenta">

        @using (Html.BeginForm("InsertStudentData", "StudentVeryficate", FormMethod.Post))
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.ImieStudent)
                @Html.EditorFor(model => model.ImieStudent)
                @Html.ValidationMessageFor(model => model.ImieStudent)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NazwiskoStudent)
                @Html.EditorFor(model => model.NazwiskoStudent)
                @Html.ValidationMessageFor(model => model.NazwiskoStudent)
            </div>

            <input type="submit" value="Przejdź do testu" />
        }
        
        



    </div>
</div>