﻿@using Microsoft.Ajax.Utilities
@model testy.Models.Student.PassStudentToTestModel

@{
    ViewBag.Title = "Logowanie";
}


<script>
    $(document).ready(function () {
        addCommixBubbleHeader("Zaloguj się do testu wykorzystując dane uzyskane od osoby przeprowadzającej test.");
    });
</script>
<div class="container">
    
        <div class="col-xs-12 formularzLogowaniaStudenta">
            
            

            @using (Html.BeginForm("Logowanie", "StudentVeryficate", FormMethod.Post))
            {
                
                @Html.ValidationSummary(true)
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.NazwaTestu)
                    @Html.EditorFor(model => model.NazwaTestu)
                    @Html.ValidationMessageFor(model => model.NazwaTestu)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Grupa)
                    @Html.EditorFor(model => model.Grupa)
                    @Html.ValidationMessageFor(model => model.Grupa)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Haslo)
                    @Html.EditorFor(model => model.Haslo)
                    @Html.ValidationMessageFor(model => model.Haslo)
                </div>
                

                <input type="submit" value="Przejdź do testu"/>
            }

            
        
    </div>
</div>


