﻿@using System.Activities.Expressions
@using testy.Helpers
@using testy.Models.Student

@{
    ViewBag.Title = "StartTest";
}


<script>
    $(document).ready(function () {
        addCommixBubbleHeader("Po kliknieciu na przycisk START przejdziesz do rozwiązywania testu oraz zacznie się odliczanie czasu.<br/>Test składa się z <strong>"
            +@TestHelper.GetAmountOfQuestionsToGenerate(SessionStudentHelper.GetActualTestId(),SessionStudentHelper.GetActualGroupName())
        +" pytań</strong>.<br/> Czas na wypełnienie: <strong>"
        + @TestHelper.GetRemainingTime(SessionStudentHelper.GetActualGroupName())
        + " sekund</strong>.<br/>Powodzenia!");
    });
</script>

<div class="container">
    <div class="row">
        <div class="startButton">
            

            @Html.ActionLink("START!", "Index", new { controller = "StudentMain" },
            new DataToGenerateTest { WynikiId = decimal.Parse(Session["WYN_ID"].ToString()), TestId = decimal.Parse(Session["testId"].ToString()) })


        </div>
    </div>
</div>