﻿@using testy.Helpers

@{
    ViewBag.Title = "Wynik";
}

<script>
    $(document).ready(function () {
        addCommixBubbleHeader("Wyświetlona jest całkowita ilość punktów uzyskanych za test.<br/>"
            + "Całkowita ilość możliwych do uzyskania punktów: <strong>"
            +@ResultsHelper.GetAmoutOfAllAvilablePoints()+
            "</strong>");
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="score"><p>uzyskane punkty: <b>@ViewBag.points</b></p></div>
        </div>
    </div>
</div>


<style>
    #score {
        margin: 0 auto;
        font-size: 30px;
        background: #e6e6fa;
        text-align: center;
margin-top: 30px;
    }
</style>