﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
        @Styles.Render("~/Content/css/bootstrap.min.css")
        @Styles.Render("~/Content/css/Site.css")
        @Styles.Render("~/Content/css/StudentPages.css")
        @Styles.Render("~/Content/css/responsibleHeaderBubble.css")
        @Scripts.Render("~/Scripts/bootstrap.min.js")
        @Scripts.Render("~/Scripts/jquery.validate.js")
        @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
        @Styles.Render("~/Scripts/jquery-ui-1.11.2.custom/jquery-ui.min.css")
        @Scripts.Render("~/Scripts/jquery-ui-1.11.2.custom/external/jquery/jquery.js")
        @Scripts.Render("~/Scripts/jquery-ui-1.11.2.custom/jquery-ui.min.js")
        @Scripts.Render("~/Scripts/responsibleHeaderBubble.js")
        <style>
            
        </style>
    </head>

   
    <body>
    
        <div class="container">
            <div  class="row">
                <div id="logoDiv" class="col-xs-2">
                    <a href="@Url.Action("Index", "Home")">
                        <img id="logoImg" src="~/Content/logo.svg" width="100%" class="img-responsive" alt="Testy PK logo">
                    </a>
                </div>
                <div class="col-xs-10">
                    <div id="bubble" class="bubble">
                        
                            </div>
                        </div>
                    </div>
            @*@Html.ActionLink("Logo aplikacji prowadzace do glownego widoku", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        @if (Session["Rola"] != null && Session["Rola"].ToString() == "Admin")
        {
            <div class="container">
                <div class="kontenerGlownegoPaska">
                    <div class="pasekAdminaCzesc1">
                        Zalogowano jako @Session["Login"].ToString()
                    </div>
                    <div class="pasekAdminaCzesc2">
                        @Html.ActionLink("Wyloguj", "Wylogowanie", "Admin")
                    </div>
                </div>
            </div>
        }
        <div class="container body-content">
            <!--Tutaj wpada nasz widok, bysmy go budowali wg tego podzialu na kolumny ktory Ci wyslalem, wazne zeby strona dzialala ok przy zmnieniau rozdzielczosci okna-->
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Testy PK</p>
            </footer>
        </div>

        @Scripts.Render("~/Scripts/bootstrap.js")
        @RenderSection("scripts", false)

    
        <script>
            @if (TempData["SuccessMessage"] != null)
            {
                @:HappyMessager.success('@TempData["SuccessMessage"]');
            }
            @if (TempData["ErrorMessage"] != null)
            {
                @:HappyMessager.alert('@TempData["ErrorMessage"]');
            }
    
            
            
                remveBubbleHtml();
            
        </script>
    </body>
</html>