﻿@model testy.Models.DodajTestModel
@{
    ViewBag.Title = "Dodaj nowy test";
}



<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Dodaj nowy test</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") -
                @Html.ActionLink("Wyżej", "ZarzadzajTestami", "Testy")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 formularzLogowaniaAdmina bodyWidoku">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="editor-label">
                    Nazwa testu
                </div>
                <div class="editor-label">
                    @Html.ValidationMessageFor(model => model.TES_nazwa)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.TES_nazwa)
                </div>

                <input type="submit" value="Dodaj test" />
            }
        </div>
    </div>
</div>