﻿@model testy.Models.DodajTestModel
@{
    ViewBag.Title = "Edytuj test";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Edytuj listę pytań</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") -
                @Html.ActionLink("Wyżej", "Zarzadzaj", "Testy")
            </h4>
        </div>
    </div>
<div class="row">
    <div class="col-xs-12">
        <div style="margin: 0 auto; width: 60%">
            <div style="text-align:center">
                @using (Html.BeginForm("EdytujTest", "Testy", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="editor-label">
                        Nazwa testu
                    </div>
                    <div class="editor-label">
                        @Html.ValidationMessageFor(model => model.TES_nazwa)
                    </div>
                    <div class="editor-label">
                        @Html.EditorFor(model => model.TES_nazwa)
                    </div>

                    <input type="hidden" id="TES_idTest" name="TES_idTest" value="@Model.TES_idTest" />
                    <input type="hidden" id="TES_idWlasciciela" name="TES_idWlasciciela" value="@Model.TES_idWlasciciela" />
                    <input type="submit" value="Zapisz zmiany" />
                }
            </div>
        </div>
    </div>
</div>
    </div>
