﻿@using System.Web.UI.WebControls
@model testy.Models.Testy.EdytujListePytan
@{
    ViewBag.Title = "EdytujListePytan";
}
<style>
    #feedback {
        font-size: 1.4em;
    }

    #selectable .ui-selecting {
        background: #FECA40;
    }

    #selectable .ui-selected {
        background: #F39814;
        color: white;
    }

    #selectable {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

        #selectable li {
            overflow: hidden;
            margin: 3px;
            padding: 0.2em;
            font-size: 1.2em;
            height: 28px;
        }
    div div input {
        margin: 10px;
    }
</style>
<script>
    $(function () {
        $("#selectable").selectable();
    });
</script>


<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Edytuj listę pytań</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") -
                @Html.ActionLink("Wyżej", "Zarzadzaj", "Testy")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div style="margin: 0 auto; width: 60%">
                <div style="text-align:center">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <input type="hidden" id="idTest" name="idTest" value="@Model.idTest" />
                        <input type="hidden" id="pytaniaZaznaczoneNowe" name="pytaniaZaznaczoneNowe" value="1,2,3" />
                        <input type="submit" value="Zapisz zmiany" onclick="sprawdzZaznaczone()" />
                    }
                    <input type="button" value="Odznacz wszystkie" onclick="odznaczWszystkie()" />
                    <input type="button" value="Przywróc początkowe" onclick="przywrocPoczatkowe()" />
                </div>
                <ol id="selectable">
                    @using(var e1 = Model.wszystkiePytania.GetEnumerator())
                    {
                        while (e1.MoveNext())
                        {
                            if (Model.pytaniaZaznaczone.Contains(e1.Current.PYT_ID))
                            {
                                <li class="ui-widget-content ui-selected" data-id="@e1.Current.PYT_ID">@e1.Current.PYT_tresc</li>
                            }
                            else
                            {
                                <li class="ui-widget-content" data-id="@e1.Current.PYT_ID">@e1.Current.PYT_tresc</li>
                            }
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
</div>
<script>
    function sprawdzZaznaczone() {
        $("#pytaniaZaznaczoneNowe").val("");
        var id = "";
        $(".ui-selected").each(function(i) {
            id = $(this).attr("data-id") + "," + id;
        });
        $("#pytaniaZaznaczoneNowe").val(id);
    }

    function odznaczWszystkie() {
        var id = "";
        $("li").each(function (i) {
            $(this).removeClass("ui-selected");
        });
    }

    function przywrocPoczatkowe() {
        var id =zaznaczoneDomyslnie.split(',');
        $(".ui-widget-content").each(function (i) {
            if ($.inArray($(this).attr("data-id"), id) > -1) 
            {
                $(this).addClass("ui-selected");
            }
            else
            {
                $(this).removeClass("ui-selected");
            }
        });
    }

    var zaznaczoneDomyslnie = "";
    $(document).ready(function () {
        $(".ui-selected").each(function (i) {
            zaznaczoneDomyslnie = $(this).attr("data-id") + "," + zaznaczoneDomyslnie;
        });
    });
</script>
