﻿@model IEnumerable<testy.Models.DodajTestModel>
@{
    ViewBag.Title = "Zarzadzaj";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 headerWidoku">
            <h2>Zarządzaj</h2>
            <h4>
                @Html.ActionLink("Home", "Index", "Admin") -
                @Html.ActionLink("Wyżej", "ZarzadzajTestami", "Testy")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="CSSTableGenerator" style="margin: 0 auto;">
                <tr>
                    <td></td>
                    <td>Nazwa Testu</td>
                    <td>Data utworzenia</td>
                    <td>Edytuj test</td>
                    <td>Edytuj pytania</td>
                    <td>Usuń</td>
                </tr>
                @{ var i = 0; }
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@item.TES_nazwa</td>
                        <td>@item.TES_dataUtworzenia</td>
                        <td>@Html.ActionLink("Edytuj test", "EdytujTest", new { id = @item.TES_idTest })</td>
                        <td>@Html.ActionLink("Edytuj liste pytań", "EdytujListePytan", new { id = @item.TES_idTest })</td>
                        <td>@Html.ActionLink("Usuń", "Usun", new { id = @item.TES_idTest })</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
