﻿
@{
    ViewBag.Title = "Witaj, wybierz ścieżkę dla siebie";
}
<script>
    $(document).ready(function () {
        addCommixBubbleHeader("Wybierz typ użytkownika, jesteś osobą prowadzącą test czy rozwiązującą?");
    });
</script>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="kwadrat logowanieStudentKwadrat">
                @Html.ActionLink("Student", "Logowanie", "StudentVeryficate")
            </div>
        </div>
        <div class="col-xs-6">
            <div class="kwadrat logowanieAdminKwadrat">
                @Html.ActionLink("Admin", "Logowanie", "Admin")
            </div>
        </div>
    </div>
</div>